*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px  10px/16px = 62.5%

  @include respond(phone) {
    font-size: 50%; //1rem = 8px  8px/16px = 50%
  }

  @include respond(tab) {
    font-size: 56.25%; //1rem = 9px  9px/16px = 56.25%
  }
}

body {
  font-family: 'Gotham Pro Regular', 'Arial', sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-grey;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

.container {
  width: 25%;
  position: relative;
  margin: 0 auto;

  @include respond(desktop) {
    width: 28%;
  }

  @include respond(tab) {
    width: 50%;
  }

  @include respond(phone) {
    width: 60%;
  }
}
