@font-face {
  font-family: 'Gotham Pro Light';
  src: url('../fonts/GothamPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Regular';
  src: url('../fonts/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('../fonts/GothamPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
